*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: clamp(10px, 3.7vw, 15px);
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: hsl(212, 6%, 44%);
}
.main-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}
.container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.container-header p{
    text-align: center;
    max-width: clamp(1rem, 90vw, 20rem);
}
h1{
    font-size: 1.8rem;
    color: hsl(234, 12%, 34%);
    padding-bottom: 1rem;
}
.container-header span{
    font-size: 1.75rem;
}
.layout{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
    margin: auto;
    grid-template-areas:
    'cyanCard'
    'redCard'
    'orangeCard'
    'blueCard';
}
.layout-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 2rem 3rem 2rem;
}
.container-img{
    display: flex;
    justify-content: end;
    padding-top: 2rem;
}
.cards{
    border-radius: 5px;
    box-shadow: 0 8px 12px 2px rgba(14, 79, 153, 0.212);
}
.cards:nth-child(1){
    border-top: 4px solid hsl(180, 62%, 55%);
    grid-area: cyanCard;
}
.cards:nth-child(2){
    border-top: 4px solid hsl(0, 78%, 62%);
    grid-area: redCard;
}
.cards:nth-child(3){
    border-top: 4px solid hsl(34, 97%, 64%);
    grid-area: orangeCard;
}
.cards:nth-child(4){
    border-top: 4px solid hsl(212, 86%, 64%);
    grid-area: blueCard;
}
h2{
    color: hsl(234, 12%, 34%);
}
@media(min-width:745px){
    .layout{
        max-width: 50rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'cyanCard  redCard'
        'orangeCard blueCard';
    }
    .container-header p{
        max-width: clamp(320px, 60%, 500px);
    }
}
@media(min-width:55rem){
    .layout{
        max-width: 79rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        '.         redCard           .'
        'cyanCard  redCard    blueCard'
        'cyanCard  orangeCard blueCard'
        '.         orangeCard        .';
    }
}